Repository garyforsterio/note-neko: changes, and which lefthook commands are due for each by the changed paths.
All: check, type-check

check:
  run: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

type-check:
  run: pnpm typecheck

feat: add gemini settings
  .gemini/settings.json
Due: check

fix: mobile touch end event
  src/components/diary/RefineEditor.tsx
Due: check, type-check

refactor(seo): simplify generateMetadata translations usage
  src/app/[locale]/(with-sidebar)/diary/[id]/edit/page.tsx
  src/app/[locale]/(with-sidebar)/diary/[id]/page.stories.tsx
  src/app/[locale]/(with-sidebar)/diary/[id]/page.tsx
  src/app/[locale]/(with-sidebar)/diary/new/page.tsx
  src/app/[locale]/(with-sidebar)/diary/page.tsx
  src/app/[locale]/(with-sidebar)/people/[id]/edit/page.stories.tsx
  src/app/[locale]/(with-sidebar)/people/[id]/edit/page.tsx
  src/app/[locale]/(with-sidebar)/people/[id]/page.stories.tsx
  src/app/[locale]/(with-sidebar)/people/[id]/page.tsx
  src/app/[locale]/(with-sidebar)/people/new/page.tsx
  src/app/[locale]/(with-sidebar)/people/page.tsx
  src/app/[locale]/(with-sidebar)/settings/account/page.tsx
  src/app/[locale]/(with-sidebar)/settings/page.tsx
  src/app/[locale]/(with-sidebar)/settings/privacy/page.tsx
  src/app/[locale]/(with-sidebar)/settings/profile/page.tsx
  src/app/[locale]/(with-sidebar)/settings/social/page.tsx
  src/app/[locale]/auth/forgot-password/page.tsx
  src/app/[locale]/auth/login/page.tsx
  src/app/[locale]/auth/reset-password/page.tsx
  src/app/[locale]/auth/signup/page.tsx
  src/app/[locale]/layout.tsx
Due: check, type-check

feat: add people search
  messages/en.json
  messages/ja.json
  src/app/[locale]/(with-sidebar)/people/components/PageHeader.tsx
  src/app/[locale]/(with-sidebar)/people/components/PeopleSearch.tsx
  src/app/[locale]/(with-sidebar)/people/page.stories.tsx
  src/app/[locale]/(with-sidebar)/people/page.tsx
  src/lib/dal.ts
Due: check, type-check

fix: security update
  package.json
  pnpm-lock.yaml
Due: check

fix(diary): use selectionchange event instead of onTouchEnd for text selection
  src/components/diary/RefineEditor.tsx
Due: check, type-check

feat: add catch up function
  AGENTS.md
  messages/en.json
  messages/ja.json
  src/actions/diary.ts
  src/app/[locale]/(with-sidebar)/diary/[id]/edit/page.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryEditForm.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryEntry.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryForm.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryHeader.tsx
  src/app/[locale]/(with-sidebar)/diary/new/page.stories.tsx
  src/app/[locale]/(with-sidebar)/diary/new/page.tsx
  src/app/[locale]/(with-sidebar)/diary/page.tsx
  src/lib/utils/diary.test.ts
  src/lib/utils/diary.ts
Due: check, type-check

chore: bump react-dom
  package.json
  pnpm-lock.yaml
Due: check

chore: remove component info from docs
  docs/COMPONENTS.md
Due: none

feat: add default location
  docs/API.md
  docs/COMPONENTS.md
  messages/en.json
  messages/ja.json
  package.json
  prisma/migrations/20251206052945_add_default_location/migration.sql
  prisma/schema.prisma
  src/actions/diary.ts
  src/actions/extractEntities.ts
  src/actions/profile.ts
  src/app/[locale]/(with-sidebar)/diary/components/DiaryForm.tsx
  src/app/[locale]/(with-sidebar)/diary/components/new/LocationInfoCard.tsx
  src/app/[locale]/(with-sidebar)/diary/new/page.tsx
  src/app/[locale]/(with-sidebar)/settings/page.tsx
  src/app/[locale]/(with-sidebar)/settings/profile/components/ProfileSettingsForm.tsx
  src/app/[locale]/(with-sidebar)/settings/profile/page.tsx
  src/hooks/useUserLocation.ts
  src/lib/dal.ts
Due: check, type-check

fix: toast styling
  src/components/ui/toast.tsx
Due: check, type-check

fix: text selection add
  src/components/diary/RefineEditor.tsx
Due: check, type-check

feat: update new diary entry design
  messages/en.json
  src/app/[locale]/(with-sidebar)/diary/components/DiaryForm.tsx
  src/app/[locale]/(with-sidebar)/diary/components/new/LocationInfoCard.tsx
  src/app/[locale]/(with-sidebar)/diary/new/loading.tsx
  src/app/[locale]/(with-sidebar)/diary/new/page.tsx
Due: check, type-check

feat: update styling for main diary page
  messages/en.json
  messages/ja.json
  src/app/[locale]/(with-sidebar)/diary/components/DiaryEntry.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryHeader.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryLocations.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryMentions.tsx
  src/app/[locale]/(with-sidebar)/diary/components/ShareAllButton.tsx
  src/app/[locale]/(with-sidebar)/diary/components/SortToggle.tsx
  src/app/[locale]/(with-sidebar)/diary/loading.tsx
  src/components/diary/LocationChip.tsx
  src/components/diary/PersonChip.tsx
Due: check, type-check

fix: autofocus form
  src/app/[locale]/(with-sidebar)/diary/components/DiaryForm.tsx
Due: check, type-check

feat: update to grok 4.1 fast
  src/actions/extractEntities.ts
  src/actions/generatePersonSummary.ts
Due: check, type-check

chore: refine extract entities prompt
  src/actions/extractEntities.ts
Due: check, type-check

feat: update people page design
  messages/en.json
  messages/ja.json
  src/app/[locale]/(with-sidebar)/people/components/PageHeader.tsx
  src/app/[locale]/(with-sidebar)/people/components/PeopleList.tsx
  src/app/[locale]/(with-sidebar)/people/components/PersonCard.tsx
  src/app/[locale]/(with-sidebar)/people/components/PersonDetails.tsx
  src/app/[locale]/(with-sidebar)/people/components/PersonEntry.tsx
  src/app/[locale]/(with-sidebar)/people/components/PersonInterests.tsx
  src/app/[locale]/(with-sidebar)/people/components/PersonList.tsx
  src/app/[locale]/(with-sidebar)/people/loading.tsx
  src/app/[locale]/(with-sidebar)/people/page.tsx
Due: check, type-check

feat: clean up sidebar
  src/app/[locale]/(with-sidebar)/diary/components/DiaryHeader.tsx
  src/app/[locale]/(with-sidebar)/diary/loading.tsx
  src/app/[locale]/(with-sidebar)/diary/page.tsx
  src/app/[locale]/(with-sidebar)/layout.tsx
  src/components/Calendar.tsx
  src/components/Navigation.stories.tsx
  src/components/Navigation.tsx
Due: check, type-check

feat: update diary edit page
  messages/en.json
  messages/ja.json
  package.json
  pnpm-lock.yaml
  src/app/[locale]/(with-sidebar)/diary/[id]/components/DiaryEntryPageClient.tsx
  src/app/[locale]/(with-sidebar)/diary/[id]/edit/loading.tsx
  src/app/[locale]/(with-sidebar)/diary/[id]/edit/page.tsx
  src/app/[locale]/(with-sidebar)/diary/[id]/loading.tsx
  src/app/[locale]/(with-sidebar)/diary/[id]/page.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryEditForm.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryMap.tsx
  src/components/diary/RefineEditor.tsx
  src/components/diary/RewriteEditor.tsx
Due: check, type-check

feat: add mcp for next server
  .gemini/settings.json
  .mcp.json
Due: check

fix: edit redirect and catch up
  messages/en.json
  messages/ja.json
  src/actions/diary.ts
  src/app/[locale]/(with-sidebar)/diary/[id]/components/DiaryEntryPageClient.tsx
  src/app/[locale]/(with-sidebar)/diary/[id]/page.stories.tsx
  src/app/[locale]/(with-sidebar)/diary/[id]/page.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryLocations.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryMentions.tsx
Due: check, type-check

fix: add missing ja translations
  messages/ja.json
Due: check

feat(ui): replace mobile top nav with bottom bar
  src/components/Navigation.stories.tsx
  src/components/Navigation.tsx
Due: check, type-check

feat: update to gemini 3 flash
  src/actions/extractEntities.ts
  src/actions/generatePersonSummary.ts
Due: check, type-check

feat: show locations on diary entries
  src/app/[locale]/(with-sidebar)/diary/components/DiaryEntry.tsx
Due: check, type-check

feat: add diary list map
  AGENTS.md
  biome.json
  src/app/[locale]/(with-sidebar)/diary/components/DiaryHeader.tsx
  src/app/[locale]/(with-sidebar)/diary/loading.tsx
  src/app/[locale]/(with-sidebar)/diary/page.tsx
Due: check, type-check

feat: add weather info
  src/app/[locale]/(with-sidebar)/diary/[id]/components/DiaryEntryPageClient.tsx
  src/app/[locale]/(with-sidebar)/diary/[id]/page.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryEntry.tsx
  src/lib/utils/weather.ts
Due: check, type-check

chore: tidy up ui
  src/app/[locale]/(with-sidebar)/diary/[id]/components/DiaryEntryPageClient.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryEntry.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryHeader.tsx
  src/app/[locale]/(with-sidebar)/diary/loading.tsx
Due: check, type-check

feat: update person ui
  src/app/[locale]/(with-sidebar)/diary/[id]/components/DiaryEntryPageClient.tsx
  src/app/[locale]/(with-sidebar)/people/[id]/page.tsx
  src/components/PersonSummary.tsx
Due: check, type-check

feat: add network graph
  src/app/[locale]/(with-sidebar)/people/[id]/page.tsx
  src/components/PersonNetworkGraph.tsx
Due: check, type-check

feat: add global network graph
  biome.json
  messages/en.json
  messages/ja.json
  src/app/[locale]/(with-sidebar)/people/page.tsx
  src/components/GlobalNetworkGraph.tsx
  src/components/PersonNetworkGraph.tsx
Due: check, type-check

feat: add diary conversation input
  messages/en.json
  messages/ja.json
  src/actions/diary.ts
  src/actions/enrichPersonDetails.ts
  src/actions/extractEntities.ts
  src/actions/generatePersonSummary.ts
  src/app/[locale]/(with-sidebar)/diary/[id]/components/DiaryEntryPageClient.tsx
  src/app/[locale]/(with-sidebar)/diary/[id]/loading.tsx
  src/app/[locale]/(with-sidebar)/diary/[id]/page.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryEditForm.tsx
  src/components/diary/RefineEditor.tsx
  src/lib/llm.ts
Due: check, type-check

fix: improve person detail extaction
  src/actions/diary.ts
  src/actions/enrichPersonDetails.ts
Due: check, type-check

feat: add conversations and suggestions
  messages/en.json
  messages/ja.json
  prisma/schema.prisma
  src/actions/diary.ts
  src/actions/enrichPersonDetails.ts
  src/actions/people.ts
  src/actions/suggestions.ts
  src/actions/verify_suggestions.test.ts
  src/app/[locale]/(with-sidebar)/people/[id]/loading.tsx
  src/app/[locale]/(with-sidebar)/people/[id]/page.tsx
  src/components/SuggestionsList.tsx
  src/lib/dal.ts
  src/schema/people.ts
Due: check, type-check

feat: add backup script
  .gitignore
  package.json
  scripts/backup-db.sh
Due: check

feat: display conversations on diary entries
  messages/en.json
  messages/ja.json
  src/app/[locale]/(with-sidebar)/diary/[id]/components/DiaryEntryPageClient.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryEditForm.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryEntry.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryMentions.tsx
  src/lib/dal.ts
Due: check, type-check

chore: update to latest prisma version
  .claude/settings.local.json
  .gitignore
  package.json
  pnpm-lock.yaml
  prisma.config.ts
  prisma/generate-dmmf.ts
  prisma/schema.prisma
  prisma/seed.ts
  src/actions/diary.ts
  src/app/[locale]/(with-sidebar)/diary/[id]/components/DiaryEntryPageClient.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryEditForm.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryMentions.tsx
  src/app/[locale]/(with-sidebar)/people/components/PersonEntry.tsx
  src/app/[locale]/(with-sidebar)/people/components/PersonList.tsx
  src/app/[locale]/(with-sidebar)/settings/profile/components/ProfileSettingsForm.tsx
  src/components/DiaryContent.tsx
  src/components/diary/EntityPicker.tsx
  src/components/diary/LocationChip.tsx
  src/components/diary/PersonChip.tsx
  src/components/diary/RefineEditor.tsx
  src/env.d.ts
  src/lib/dal.ts
  src/lib/db.mock.ts
  src/lib/db.ts
Due: check, type-check

fix: add external packages
  next.config.mjs
  package.json
  pnpm-lock.yaml
Due: check

feat: configure dependabot
  .github/dependabot.yml
Due: none

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  type-check: any of: *.{ts,tsx}
