Repository garyforsterio/note-neko: changes, and which lefthook commands are due for each by the changed paths.
All: check, type-check

check:
  run: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

type-check:
  run: pnpm typecheck

fix: remove storybook
  .github/workflows/on-push.yml
  .storybook/decorators/i18n.tsx
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/vitest.setup.ts
  package.json
  pnpm-lock.yaml
  src/actions/auth.mock.ts
  src/actions/verify_suggestions.test.ts
  src/app/[locale]/(with-sidebar)/diary/[id]/page.stories.tsx
  src/app/[locale]/(with-sidebar)/diary/new/page.stories.tsx
  src/app/[locale]/(with-sidebar)/diary/page.stories.tsx
  src/app/[locale]/(with-sidebar)/people/[id]/edit/page.stories.tsx
  src/app/[locale]/(with-sidebar)/people/[id]/page.stories.tsx
  src/app/[locale]/(with-sidebar)/people/new/page.stories.tsx
  src/app/[locale]/(with-sidebar)/people/page.stories.tsx
  src/components/ActionSheet.stories.tsx
  src/components/Navigation.stories.tsx
  src/lib/auth.mock.ts
  src/lib/auth.test.ts
  src/lib/db.mock.ts
  src/lib/i18n/server.mock.ts
  vitest.config.ts
Due: check, type-check

chore: update biome
  biome.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: check

fix: lint everything on push
  .github/workflows/on-push.yml
Due: none

fix: lint issues
  src/actions/extractEntities.ts
  src/actions/locations.ts
  src/app/[locale]/(home)/page.tsx
  src/app/[locale]/(with-sidebar)/diary/[id]/components/DiaryEntryPageClient.tsx
  src/app/[locale]/(with-sidebar)/diary/[id]/page.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryEditForm.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryForm.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryHeader.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryMap.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryMentions.tsx
  src/app/[locale]/(with-sidebar)/diary/components/SortToggle.tsx
  src/app/[locale]/(with-sidebar)/people/[id]/page.tsx
  src/app/[locale]/(with-sidebar)/people/components/PeopleSearch.tsx
  src/app/[locale]/(with-sidebar)/settings/profile/components/ProfileSettingsForm.tsx
  src/app/[locale]/layout.tsx
  src/app/global-error.tsx
  src/components/Calendar.tsx
  src/components/DiaryContent.tsx
  src/components/GlobalNetworkGraph.tsx
  src/components/PersonNetworkGraph.tsx
  src/components/auth/LoginForm.tsx
  src/components/auth/ResetPasswordForm.tsx
  src/components/diary/EntityPicker.tsx
  src/contexts/ProcessingContext.tsx
  src/lib/auth.test.ts
  src/lib/auth.ts
  src/lib/llm.ts
  src/proxy.ts
Due: check, type-check

feat: add workflow to deploy dd migration
  .github/workflows/migrate-prod.yml
  docs/PROCESSES.md
Due: none

Revert "chore(deps-dev): bump @commitlint/cli from 19.8.1 to 20.3.1"
  package.json
  pnpm-lock.yaml
Due: check

fix: broken dependency update
  package.json
  pnpm-lock.yaml
Due: check

chore: remove storybook references
  . eslintignore
  .cursorrules
  .gitignore
  AGENTS.md
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/COMPONENTS.md
  docs/PROCESSES.md
Due: none

fix: commit next env
  .gitignore
  next-env.d.ts
Due: check, type-check

fix: prisma specifier
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: check

fix: prisma specifier (#19)
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: check

feat: add dependabot auto merge script
  .github/workflows/dependabot-automerge.yml
Due: none

feat: add dependabot auto merge script (#20)
  .github/workflows/dependabot-automerge.yml
Due: none

chore: group prisma dependencies in dependabot
  .github/dependabot.yml
Due: none

chore: group prisma dependencies in dependabot (#22)
  .github/dependabot.yml
Due: none

fix(deps): exclude prisma from type-based dependabot groups
  .github/dependabot.yml
Due: none

fix(deps): exclude prisma from type-based dependabot groups (#29)
  .github/dependabot.yml
Due: none

feat: add e2e tests
  .gitignore
  biome.json
  e2e/auth.spec.ts
  e2e/diary.spec.ts
  e2e/people.spec.ts
  next-env.d.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/lib/llm.ts
Due: check, type-check

feat: add e2e tests (#32)
  .gitignore
  biome.json
  e2e/auth.spec.ts
  e2e/diary.spec.ts
  e2e/people.spec.ts
  next-env.d.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/lib/llm.ts
Due: check, type-check

chore: remove diary page subtitle text (#58)
  e2e/auth.spec.ts
  src/app/[locale]/(with-sidebar)/diary/components/DiaryHeader.tsx
Due: check, type-check

feat: update diary placeholder text to be date-agnostic (#60)
  messages/en.json
  messages/ja.json
Due: check

feat: add terraform base config
  .github/workflows/on-push.yml
  .gitignore
  package.json
  terraform/ephemeral/main.tf
  terraform/ephemeral/provider.tf
  terraform/persistent/main.tf
  terraform/persistent/provider.tf
Due: check

feat: add k8 manifests
  .github/workflows/on-push.yml
  deploy-ephemeral.sh
  k8s/base/deployment.yaml
  k8s/base/kustomization.yaml
  k8s/base/service.yaml
  k8s/overlays/prod/certificate.yaml
  k8s/overlays/prod/ingress.yaml
  k8s/overlays/prod/kustomization.yaml
  package.json
Due: check

feat: add lefthook checks
  lefthook.yml
Due: none

fix: lint errors
  destroy-ephemeral.sh
  package.json
  terraform/ephemeral/main.tf
  terraform/ephemeral/provider.tf
  terraform/persistent/provider.tf
Due: check

feat: set up standalone build
  Dockerfile
  deploy-ephemeral.sh
  next.config.mjs
Due: check

feat: add scripts
  scripts/build-docker.sh
  scripts/deploy-ephemeral.sh
  scripts/destroy-ephemeral.sh
  scripts/setup.sh
Due: none

feat: add weather to new diary entry page (#59)
  .gitignore
  messages/en.json
  messages/ja.json
  src/actions/diary.ts
  src/app/[locale]/(with-sidebar)/diary/[id]/components/DiaryEntryPageClient.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryForm.tsx
  src/app/[locale]/(with-sidebar)/diary/components/WeatherWidget.tsx
Due: check, type-check

fix: ci check
  .github/workflows/on-push.yml
Due: none

feat: add health api
  src/app/api/health/route.ts
Due: check, type-check

fix: add readiness probe check to k8 manifest
  k8s/base/deployment.yaml
Due: none

fix: backend config
  k8s/base/backend-config.yaml
  k8s/base/kustomization.yaml
  k8s/base/service.yaml
  package.json
  scripts/build-docker.sh
Due: check

fix: make script executable
  scripts/destroy-ephemeral.sh
Due: none

feat: setup IaC and k8 deployment (#61)
  .github/workflows/on-push.yml
  .gitignore
  Dockerfile
  k8s/base/backend-config.yaml
  k8s/base/deployment.yaml
  k8s/base/kustomization.yaml
  k8s/base/service.yaml
  k8s/overlays/prod/certificate.yaml
  k8s/overlays/prod/ingress.yaml
  k8s/overlays/prod/kustomization.yaml
  lefthook.yml
  next.config.mjs
  package.json
  scripts/build-docker.sh
  scripts/deploy-ephemeral.sh
  scripts/destroy-ephemeral.sh
  scripts/setup.sh
  src/app/api/health/route.ts
  terraform/ephemeral/main.tf
  terraform/ephemeral/provider.tf
  terraform/persistent/main.tf
  terraform/persistent/provider.tf
Due: check, type-check

fix: infra check
  .github/workflows/on-push.yml
Due: none

fix: infra check (#68)
  .github/workflows/on-push.yml
Due: none

fix: add missing migration
  prisma/migrations/20260227135343_add_conversations_and_suggestions/migration.sql
Due: none

fix: add missing migration (#70)
  prisma/migrations/20260227135343_add_conversations_and_suggestions/migration.sql
Due: none

feat: migrate to supabase
  .env.example
  CLAUDE.md
  docs/PROCESSES.md
  k8s/base/deployment.yaml
  package.json
  pnpm-lock.yaml
  prisma.config.ts
  prisma/seed.ts
  scripts/backup-db.sh
  src/actions/verify_suggestions.test.ts
  src/env.d.ts
  src/lib/db.ts
Due: check, type-check

fix: update base
  .env.example
  CLAUDE.md
  docs/PROCESSES.md
  k8s/base/deployment.yaml
  src/actions/verify_suggestions.test.ts
  src/env.d.ts
  src/lib/db.ts
Due: check, type-check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  type-check: any of: *.{ts,tsx}
