Repository garyforsterio/note-neko: changes, and which lefthook commands are due for each by the changed paths.
All: check, type-check

check:
  run: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

type-check:
  run: pnpm typecheck

feat: migrate to supabase (#71)
  .env.example
  CLAUDE.md
  docs/PROCESSES.md
  k8s/base/deployment.yaml
  package.json
  pnpm-lock.yaml
  prisma.config.ts
  prisma/seed.ts
  scripts/backup-db.sh
  src/actions/verify_suggestions.test.ts
  src/env.d.ts
  src/lib/db.ts
Due: check, type-check

fix: pool connection size
  src/lib/db.ts
Due: check, type-check

fix: pool connection size (#72)
  src/lib/db.ts
Due: check, type-check

Revert "fix: pool connection size (#72)"
  src/lib/db.ts
Due: check, type-check

Revert "feat: migrate to supabase (#71)"
  .env.example
  CLAUDE.md
  docs/PROCESSES.md
  k8s/base/deployment.yaml
  package.json
  pnpm-lock.yaml
  prisma.config.ts
  prisma/seed.ts
  scripts/backup-db.sh
  src/actions/verify_suggestions.test.ts
  src/env.d.ts
  src/lib/db.ts
Due: check, type-check

feat: update agents
  AGENTS.md
  scripts/backup-db.sh
Due: none

revert to prisma (#73)
  .env.example
  AGENTS.md
  CLAUDE.md
  docs/PROCESSES.md
  k8s/base/deployment.yaml
  package.json
  pnpm-lock.yaml
  prisma.config.ts
  prisma/seed.ts
  scripts/backup-db.sh
  src/actions/verify_suggestions.test.ts
  src/env.d.ts
  src/lib/db.ts
Due: check, type-check

feat: implement password reset email with Resend
  .env.example
  CLAUDE.md
  docs/API.md
  docs/ARCHITECTURE.md
  e2e/password-reset.spec.ts
  package.json
  pnpm-lock.yaml
  src/actions/auth.ts
  src/lib/email-templates/password-reset.ts
  src/lib/email.ts
Due: check, type-check

fix: add hidden token input to reset password form
  src/components/auth/ResetPasswordForm.tsx
Due: check, type-check

feat: implement password reset email with Resend (#74)
  .env.example
  CLAUDE.md
  docs/API.md
  docs/ARCHITECTURE.md
  e2e/password-reset.spec.ts
  package.json
  pnpm-lock.yaml
  src/actions/auth.ts
  src/components/auth/ResetPasswordForm.tsx
  src/lib/email-templates/password-reset.ts
  src/lib/email.ts
Due: check, type-check

ci: add E2E tests job to on-push workflow
  .github/workflows/on-push.yml
Due: none

ci: run E2E tests against Vercel preview deployments
  .github/workflows/e2e.yml
  .github/workflows/on-push.yml
  docs/PROCESSES.md
  playwright.config.ts
Due: check, type-check

ci: decouple prisma generate from pnpm install
  .github/workflows/on-push.yml
  package.json
Due: check

fix: run prisma generate before next build
  package.json
Due: check

ci: add prisma generate and DATABASE_URL to E2E workflow
  .github/workflows/e2e.yml
Due: none

fix: display password reset success message on login page
  src/components/auth/LoginForm.tsx
Due: check, type-check

fix(e2e): add navigation wait to people test
  e2e/people.spec.ts
Due: check, type-check

perf(e2e): increase CI workers from 1 to 2
  playwright.config.ts
Due: check, type-check

fix(e2e): fix diary test placeholder regex and add navigation wait
  e2e/diary.spec.ts
Due: check, type-check

ci: add E2E tests to on-push workflow (#75)
  .github/workflows/e2e.yml
  .github/workflows/on-push.yml
  docs/PROCESSES.md
  e2e/diary.spec.ts
  e2e/people.spec.ts
  package.json
  playwright.config.ts
  src/components/auth/LoginForm.tsx
Due: check, type-check

chore: upgrade Node.js to 24.14.0 and pnpm to 10.30.3
  .github/workflows/e2e.yml
  .github/workflows/migrate-prod.yml
  .github/workflows/on-push.yml
  .node-version
  package.json
Due: check

chore: upgrade Node.js to 24.14.0 and pnpm to 10.30.3 (#76)
  .github/workflows/e2e.yml
  .github/workflows/migrate-prod.yml
  .github/workflows/on-push.yml
  .node-version
  package.json
Due: check

docs: add AGPL-3.0 license and product roadmap
  LICENSE
  PRODUCT_ROADMAP.md
  README.md
Due: none

docs: add AGPL-3.0 license and product roadmap (#77)
  LICENSE
  PRODUCT_ROADMAP.md
  README.md
Due: none

fix(ci): prevent E2E required check from being satisfied by skipped runs
  .github/workflows/e2e.yml
Due: none

feat(ui): update global and locale error pages with cohesive styling
  src/app/[locale]/error.tsx
  src/app/global-error.tsx
Due: check, type-check

fix(ci): prevent E2E required check from being satisfied by skipped runs (#78)
  .github/workflows/e2e.yml
Due: none

feat(ui): update global and locale error pages with cohesive styling (#79)
  src/app/[locale]/error.tsx
  src/app/global-error.tsx
Due: check, type-check

feat(ui): add Sentry User Feedback bug reporting integration
  src/components/Navigation.tsx
  src/instrumentation-client.ts
Due: check, type-check

fix(ui): use programmatic Sentry feedback creation to fix bug report button
  src/components/Navigation.tsx
  src/instrumentation-client.ts
Due: check, type-check

chore(sentry): hide Sentry branding on feedback form
  src/instrumentation-client.ts
Due: check, type-check

docs: mark completed tasks in roadmap
  PRODUCT_ROADMAP.md
Due: none

refactor(ui): use i18n for bug report button text
  messages/en.json
  messages/ja.json
  src/components/Navigation.tsx
Due: check, type-check

docs: mark completed tasks in roadmap (#81)
  PRODUCT_ROADMAP.md
Due: none

feat(ui): add Sentry User Feedback bug reporting integration (#80)
  messages/en.json
  messages/ja.json
  src/components/Navigation.tsx
  src/instrumentation-client.ts
Due: check, type-check

feat(i18n): add Biome noJsxLiterals rule and fix all i18n violations
  biome.json
  messages/en.json
  messages/ja.json
  src/app/[locale]/(home)/page.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryEditForm.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryEntry.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryForm.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryHeader.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryMentions.tsx
  src/app/[locale]/(with-sidebar)/diary/components/SortToggle.tsx
  src/app/[locale]/(with-sidebar)/people/[id]/page.tsx
  src/app/[locale]/(with-sidebar)/people/components/PersonForm.tsx
  src/app/[locale]/(with-sidebar)/settings/account/page.tsx
  src/app/[locale]/(with-sidebar)/settings/privacy/page.tsx
  src/app/[locale]/(with-sidebar)/settings/social/page.tsx
  src/app/[locale]/error.tsx
  src/app/global-error.tsx
  src/components/GlobalNetworkGraph.tsx
  src/components/Navigation.tsx
  src/components/PersonNetworkGraph.tsx
  src/components/PersonSummarySkeleton.tsx
  src/components/SuggestionsList.tsx
Due: check, type-check

refactor(i18n): move punctuation into translation values and use interpolation
  messages/en.json
  messages/ja.json
  src/app/[locale]/(with-sidebar)/diary/components/DiaryForm.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryHeader.tsx
  src/app/[locale]/(with-sidebar)/diary/components/SortToggle.tsx
  src/app/[locale]/(with-sidebar)/people/components/PersonForm.tsx
  src/components/PersonNetworkGraph.tsx
  src/components/SuggestionsList.tsx
Due: check, type-check

feat(i18n): add Biome noJsxLiterals rule and fix all violations (#82)
  biome.json
  messages/en.json
  messages/ja.json
  src/app/[locale]/(home)/page.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryEditForm.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryEntry.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryForm.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryHeader.tsx
  src/app/[locale]/(with-sidebar)/diary/components/DiaryMentions.tsx
  src/app/[locale]/(with-sidebar)/diary/components/SortToggle.tsx
  src/app/[locale]/(with-sidebar)/people/[id]/page.tsx
  src/app/[locale]/(with-sidebar)/people/components/PersonForm.tsx
  src/app/[locale]/(with-sidebar)/settings/account/page.tsx
  src/app/[locale]/(with-sidebar)/settings/privacy/page.tsx
  src/app/[locale]/(with-sidebar)/settings/social/page.tsx
  src/app/[locale]/error.tsx
  src/app/global-error.tsx
  src/components/GlobalNetworkGraph.tsx
  src/components/Navigation.tsx
  src/components/PersonNetworkGraph.tsx
  src/components/PersonSummarySkeleton.tsx
  src/components/SuggestionsList.tsx
Due: check, type-check

feat(diary): add review status tracking and notifications page
  CLAUDE.md
  docs/API.md
  docs/ARCHITECTURE.md
  docs/COMPONENTS.md
  docs/DATABASE.md
  e2e/diary.spec.ts
  e2e/people.spec.ts
  messages/en.json
  messages/ja.json
  prisma/migrations/20260301051211_add_reviewed_to_diary_entry/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  prisma/seed.ts
  src/actions/diary.ts
  src/app/[locale]/(with-sidebar)/diary/components/DiaryEditForm.tsx
  src/app/[locale]/(with-sidebar)/layout.tsx
  src/app/[locale]/(with-sidebar)/notifications/components/NotificationList.tsx
  src/app/[locale]/(with-sidebar)/notifications/loading.tsx
  src/app/[locale]/(with-sidebar)/notifications/page.tsx
  src/components/Navigation.tsx
  src/lib/dal.ts
  src/lib/email.ts
Due: check, type-check

fix: test
  e2e/diary.spec.ts
Due: check, type-check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  type-check: any of: *.{ts,tsx}
